:root{
    --main-mineshaft:#373E40; 
    --main-white:white; 
    --main-camo:#305252;
    --main-jellybeanblue:#488286; 
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body{
    font-family: poppins, sans-serif;
    font-size:1.1rem;
    line-height:1.5;
    background-color:var(--main-mineshaft);
  }
  .tile{
    width: 350px;
  }
  .tile-img{
    object-fit: contain;
    width: 350px;
    height: 180px;    
  }